.header-container {
    background-color: #f1f1f1;
    display: flex;
    justify-content: flex-start;
}

.header-item {
    margin: 0.5rem;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.header-item-about {
    margin-left: auto;
}

.header-item-cart {
    margin-bottom: -1rem;
}

.cart-image {
    width: 5rem;
    height: 5rem;
}

.main-container {
    margin-left: 2rem;
}
